body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-image: url("../andersoncit.github.io/pictures/sweater.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;

}

.hero .btn {
    display: block;
    width: 200px;

    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    color: black;
    text-decoration: none;
    font-size: 1.5em;

    border: 3px solid black;
    border-radius: 20px;
}

#firstheading {
    font-family: 'Julius Sans One', sans-serif;
    color: black;

}


#welcome {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
}

#welcome1{
    font-family: 'Julius Sans One', sans-serif;
    color: black;
}
#firstwelcome{
    font-family: 'Julius Sans One', sans-serif;
    color: black;

margin-left: auto; margin-right: auto;;


}


body {
  background-color: whitesmoke;
}


/*shopping cart css*/ 
.icon-cart {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  margin-left: 25px;
  margin-bottom: 25px;
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg); 
  background-color: #000;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg); 
  background-color: #000;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg); 
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); 
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: #000;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}



body {
    margin: 0;
    font-family: sans-serif;
}

 div {
            width: auto;
            height: auto;
         
            font-size: 18px;
            float: right;
        }

#div1 {
    bottom: 50%;
margin-left: 100%;
    margin-right: 0;
}

#div2 {
    bottom: 50%;
    margin-left: 35%;
    margin-right: 20%;
}

#div3 {
    top: auto;
    right: auto;
}




/*hero for fashion page*/ 
#herofashion {
    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-image: url("pictures/fashion%20tip%202.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;

}



/*writing content for fashion page*/
 #fashiontitle {
            width: 150px;
            height: 100px;
            border: solid thin;
            font-size: 18px;
            position: relative;
     left: 50%;    
        }



/*hero for solution page*/ 
#herosolution {
    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-image: url("pictures/good%20knot.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}






/*hero for grooming page*/ 
#herogrooming {
    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;

    text-align: center;
    background-image: url("pictures/red%20suit.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


/*introduction pic*/
#meandkenz {display: block; margin-left: auto; margin-right: auto; width: 40%; padding-top: 10%; 

}

/*intoduction header*/
#header {margin: auto; width: 50%; padding: 30px;}

/*introduction para1*/
#div1 {display: inline-block; float: right; width: 600px; padding: 10px; padding-right: 20%;}